fastapi                     
uvicorn[standard]           
python-dotenv               
requests                    
streamlit                   
numpy                       
pytz                        
nest-asyncio                

google-generativeai         
langchain-google-genai      

qdrant-client               
flashrank                   
langchain-qdrant

langchain                   
langgraph                   
langchain-groq              
langchain-community         
langchain-openai            
pydantic>=2.0.0             


python-docx                 
pypdf                       
pdfplumber                  

langsmith                   
logfire[fastapi,requests]   
loguru                      

nemoguardrails              
langchain-nvidia-ai-endpoints 
portkey-ai                  
langgraph-checkpoint-redis

sqlalchemy
asynccontextmanager
