fastapi
uvicorn[standard]
python-dotenv

langchain
langgraph
langgraph-checkpoint-redis

langchain-community
langchain-openai
langchain-nvidia-ai-endpoints
langchain_qdrant
langchain_groq
langchain_core

nemoguardrails==0.23.0

qdrant-client
flashrank

sqlalchemy
psycopg2-binary
redis

pypdf
pdfplumber
python-docx

logfire[fastapi,requests]
loguru

numpy
requests
beautifulsoup4
sentence-transformers
jinaai
torch

httpx